@media   (max-width:480px)   {
           .features {
            background-size: cover!important;
           }
           .supercharge_section{
            background-size: cover!important;
           }
}

@media  (max-width:768px) {
    .features {
        background-size: cover!important;
       }
       .supercharge_section{
        background-size: cover!important;
       }
}
@media  (max-width:1024px) {
    .features {
        background-size: cover!important;
       }
       .supercharge_section{
        background-size: cover!important;
       }
      
}